<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column">
    <div fxFlex>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Title</mat-label>
        <input type="text" matInput placeholder="Task title" formControlName="title">
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="task description" formControlName="description" rows="5"></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex>
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="NEW">New</mat-option>
            <mat-option value="IN_PROGRESS">InProgress</mat-option>
            <mat-option value="COMPLETED">Complete</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex id="bottom-section">
        <mat-form-field appearance="outline">
          <mat-label>Label</mat-label>
          <mat-select formControlName="labels" multiple>
            <mat-select-trigger>
              {{taskForm.value.labels ? taskForm.value.labels[0].label : ''}}
              <span *ngIf="taskForm.value.labels?.length > 1">
                (+{{taskForm.value.labels?.length - 1}} {{taskForm.value.labels?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let item of labelList" [value]="item">
              <span>{{item?.label}}</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field color="accent" appearance="outline">
          <mat-label>Due Date</mat-label>
          <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="dueDates" formControlName="dueDate">
          <mat-datepicker-toggle matSuffix [for]="dueDates"></mat-datepicker-toggle>
          <mat-datepicker #dueDates></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div fxFlex fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </div>
</form>
