<div class="mb-3">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{task?.title}}
        </mat-panel-title>
        <mat-panel-description fxLayout fxLayoutGap="15px">
          {{task?.description}}

        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- circular progress indicatior -->
      <!-- <circle-progress
                [percent]="taskCompletedInPercentage"
                [animationDuration]="300"
            ></circle-progress> -->
      <div fxLayout fxLayoutGap="20px" fxLayoutAlign="start center">
        <span fxFlex="50%">Add a check list </span>
        <button mat-icon-button color="warn" aria-label="Add check list" (click)="addACheckList()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>

      <div *ngFor="let item of task?.checkList; let i = index">
        <app-check-list-tile [checkListItem]="item" [shareOfCheckListInTask]="singleCheckListPartInTask "></app-check-list-tile>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>
