<div class="mb-3">
    <mat-accordion >
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{task?.title}}
                </mat-panel-title>
                <mat-panel-description fxLayout fxLayoutGap="15px">
                    {{task?.description}}
                    
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- circular progress indicatior -->
            <!-- <circle-progress
                [percent]="taskCompletedInPercentage"
                [animationDuration]="300"
            ></circle-progress> -->

            <div *ngFor="let item of task?.todoList; let i = index">
                <div class="mb-3">
                    <mat-checkbox class="m-0" 
                        (change)="OnChange($event, i)" 
                        >
                        <span [innerHtml]="item?.title" [ngClass]="{'strikeOff': item?.isChecked}"></span>
                    </mat-checkbox>
                </div>
            </div>
    
        </mat-expansion-panel>
    </mat-accordion>
</div>