
::ng-deep {
    mat-checkbox {
        label {
            margin: 0;
        }
    }
    mat-action-row {
        padding: 12px 8px 12px 24px !important;
    }
}

.edit-task {
  position: absolute;
  left: 16px;
  top: 125px;
}
