<section class="mt-3">
  <div class="container">

    <div class="mb-3" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15%">
      <div>
        <h1 class="m-0">My tasks</h1>
      </div>
      <div class="w-75 h-75">
        <app-search-filter-task [taskList]="tasksList" (taskFilter)="onTaskFilter($event)"></app-search-filter-task>
      </div>
    </div>

    <ng-container *ngIf="tasksList?.length; then taskTile; else welcomePlaceholders"></ng-container>

    <ng-template #taskTile>

      <div *ngFor="let task of filteredTaskList">
        <app-task-tile [task]="task"></app-task-tile>
      </div>
    </ng-template>

    <ng-template #welcomePlaceholders>
      <div class="bg-danger text-white" style="height: 100vh" fxLayout fxLayoutAlign="center center">
        <h1 class="font">Welcome to task लिखो.</h1>
      </div>
    </ng-template>

  </div>
</section>
