<section class="mt-3">
    <div class="container">

        <div class="mb-3" fxLayoutAlign="space-between center">
            <h1 class="m-0">My tasks</h1>
    
            <button mat-mini-fab color="accent">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <ng-container *ngFor="let task of tasksList">

            <mat-accordion class="d-block mb-2">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{task?.title}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{task?.description}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    Todo list here...
                </mat-expansion-panel>
            </mat-accordion>

        </ng-container>

    </div>
</section>